.homeInlineBlock {
    display: inline-block;
    vertical-align: middle;
    margin-top: 5%;
}

.leftBlock {
    margin-right: 3em;
}

a {
    color: black;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}