.navbar {
    position: absolute;
    top: 3em;
    right: 2em;
    min-width: 30em;
}

@media only screen and (max-width: 92em) {
    .navbar {
        position: static;
    }
}

li {
    display: inline-block;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1.25em;
    list-style: none;
    color: white;
    transition: all 500ms;
}

li.rightMargin {
    margin-right: 3em;
}

.link:hover, .link:active {
    text-decoration: none;
}

li:hover, li:active {
    transform: translateY(-50%);
}